@tailwind base;
@tailwind components;
@tailwind utilities;




/* .typewriter::after {
  content: "";
  border-right: var(--cursorThickness, 1px) solid currentcolor; 
  animation: blink var(--cursorBlinkSpeed, 500ms) step-end infinite; 
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
} */
